hr.solid {
    border-top: 3px solid #343a40;
    margin-right: 1rem;
}   
a {
    color: #343a40;
}
a:hover {
    color: #5f6871;
}
.nav-item.active {
    background-color: #711d85;
    border-radius: 0.25rem;
}
form label.col-sm-5 {
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 0;
}
span.validation-err{
    color: #ae1414;
}
input.validation-err, select.validation-err {
    border-style: solid;
    border-width: 2px;
    border-color: #ae1414;
    color: #ae1414;
}
:focus {
    outline-style: none;
    outline-offset: 0;
    outline-width: 0;
}
.custom-select {
    padding-left: .75em;
}
.form-control {
    border-radius: 0.25rem;
}